{% extends pagelayout %}

{% block content %}

    <h1>SolrDoc Dokument</h1>

    {% if result %}
        {% if result.meta_class_identifier_ms is defined  %}
            {% if result.meta_class_identifier_ms == "s_artikel"  %}
            <h2>{{ result.meta_sort_name_ms }}</h2>
            <p>
            ObjectID: {{ result.meta_id_si }}<br />
            ClassID: {{ result.meta_class_identifier_ms }}<br />
            </p>
                Vorspann:<br />
                {{ result.attr_vorspann_t|raw }}
                Haupttext:<br />
                {{ result.attr_haupttext_t|raw }}
            {% elseif result.meta_class_identifier_ms == "folder" %}
                <h2>{{ result.meta_sort_name_ms }}</h2>
                <p>
                    ObjectID: {{ result.meta_id_si }}<br />
                    ClassID: {{ result.meta_class_identifier_ms }}<br />
                </p>
                Short:<br />
                {{ result.attr_short_description_t|raw }}<br /><br />
                Description:<br />
            {% else %}
                <h2>{{ result.meta_sort_name_ms }}</h2>
                <p>
                    ObjectID: {{ result.meta_id_si }}<br />
                    ClassID: {{ result.meta_class_identifier_ms }}<br />
                </p>
                {% for attrib_id, attrib_value in result %}
                 {% if attrib_id starts with 'attr_' %}
                    {% if attrib_id ends with '___k' %}
                        <b>{{ attrib_id }}:</b><br />
                            {% for array_value in attrib_value %}
                                {{ array_value|raw }}<br />
                            {% endfor %}
                            <br />
                    {% else %}
                        <b>{{ attrib_id }}:</b><br />
                        {{ attrib_value|raw }}
                        <br />
                    {% endif %}
                 {% endif %}
                {% endfor %}
            {% endif %}
         {% else %}
         
            {{ dump(result)|raw }}
         {% endif %}
    {% endif %}

{% endblock %}