{% extends pagelayout %}

{% block content %}
<script type="text/javascript" src="https://raw.githubusercontent.com/websanova/wPaginate/master/wPaginate.js"></script>
    <h1>Universalsearch</h1>
    <form name="uniform" method="post" action="/universalsearch">
    <input type="text" value="{{ context }}" id="Search" name="SearchText" size="20" class="halfbox yui3-aclist-input" autocomplete="off">
    <div style=" border: 1px solid #dbdbdc;
width: 350px;
position: absolute;
background-color: #ffffff;
    border-radius: 3px;
    color: #333333;
    display: inline-block;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 9px;
    padding: 4px; display: none;" id="autosuggestbox">
    </div>
    <br />
    <input type="submit" value="Suche" name="SearchButton" class="button" ><br />
    </form>
    <br />

    <script type="text/javascript">
    $.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results==null){
           return null;
        }
        else{
           return results[1] || 0;
        }
    }
    $( document ).ready(function() {
    	if($.urlParam('Page') != null)
		  {
	  		  var pageIndex = $.urlParam('Page') * 10;
		  }
 	   $('#wPaginate_oben').wPaginate({theme:'grey', total:{{ result.totalCount }}, limit:10,
 	 	   index:pageIndex,
  		  url: function(i){
  	  		  if($.urlParam('class_filter') != null)
  	  		  {
  	  	  		  return '/universalsearch/{{ context }}?Page=' + i + '&class_filter=' + $.urlParam('class_filter');
  	  		  }
  	  		  else
  	  		  {
    	  			return '/universalsearch/{{ context }}?Page=' + i;
  	  		  }
  		   }
 	 	   });
  	  $('#wPaginate_unten').wPaginate({theme:'grey', total:{{ result.totalCount }}, limit:10, index:0, url: function(i){ return '?Page=' + i }});
    	});
    
    
        $( "#Search" )
        .focusout(function() {
        	$( "#autosuggestbox" ).fadeOut( 100 );
        })
        .keyup(function() {
            if( $( "#Search" ).val().length > 1)
            {
            	$( "#autosuggestbox" ).fadeIn( 100 );
	        	$.ajax({
	                type: "POST",
	                url: "/autosuggest/1/" + $( "#Search" ).val(),
	                dataType: 'json',
	                success: function(msg){
	                	ul = $("<ul>");
	                	$.each(msg.list, function(val, count) {
	                		search= $( "#Search" ).val();
	                		$("#autosuggestbox").append(document.createTextNode( val + "(" + count + ")<br/>"));
	                		
	                		    ul.append("<li class='bringmetobox'>" + val.replace(search, "<b>" + search + "</b>") + " (" + count + ")</li>");
	                		});
	                    for (var i = 0, l = msg.list.length; i < l; ++i) {
	                        ul.append("<li>" + msg.list[i].title.content + "</a></li>");
	                    }
	                    $("#autosuggestbox").html( ul )

		                
	                    //$("#autosuggestbox").html( msg.list );
	                }
	            })
            }
        });
        
    	$(function(){
            $.ajax({
                type: "POST",
                url: "/autosuggest/1/" + $( "#Search" ).val(),
                dataType: 'json',
                success: function(msg){
                    $("#autosuggestbox").html( msg.list );
                }
            })
        });


        
    </script>
    

    {% for allfacet_array in allfacets.facets %}
	       {% if allfacet_array.name == "Klassen" %}
	           <a href="/universalsearch/{{ context }}">Alle ({{ allfacets.totalCount }})</a> &nbsp;&nbsp;
            {% for facetid, facetcount in allfacet_array.entries %}
                <a href="/universalsearch/{{ context }}?class_filter={{ facetid }}">{{ facetid }} ({{ facetcount }})</a> &nbsp;&nbsp; 
	        {% endfor %}
           {%endif%}
	    {% endfor %}
	    <br />
	    <b>Erschienen</b><br />
	{% for allfacet_array in allfacets.facets %}
	       {% if allfacet_array.name == "DateRange" %}
            {% for facetid, facetcount in allfacet_array.entries %}
                <i>{{ facetid }}:</i> <b>{{ facetcount }}</b> 
	        &nbsp;&nbsp;
	        {% endfor %}
           {%endif%}
	    {% endfor %}
	 {% for allfacet_array in allfacets.facets %}
	    {% if allfacet_array.name == "Schlagwörter" %}
	    <br /><b>Schlagwörter</b><br />
            {% for facetid, facetcount in allfacet_array.entries %}
                - {{ facetid }} ({{ facetcount }}) &nbsp;&nbsp; 
	        {% endfor %}
           {%endif%}
     {% endfor %}
	    <br />
	    	 {% for allfacet_array in allfacets.facets %}
	    {% if allfacet_array.name == "Kategorien" %}
	    <br /><b>Kategorien</b><br />
            {% for facetid, facetcount in allfacet_array.entries %}
                - {{ facetid }} ({{ facetcount }}) &nbsp;&nbsp; 
	        {% endfor %}
           {%endif%}
     {% endfor %}
	    <br />
    <hr />
    
    Es wurden <b>{{ result.totalCount }}</b> Einträge für "{{ context|raw }}" gefunden in {{ result.time }} Sekunden.<br />
    <hr />
<div id="wPaginate_oben"></div>
    {% if result %}
        {% for facet_array in result.facets %}
        {% if facet_array.name != "Klassen" %}
	       <b>{{ facet_array.name }}</b><br />
            {% for facetid, facetcount in facet_array.entries %}
                <i>{{ facetid }}:</i> {{ facetcount }} 
	        &nbsp;&nbsp;
	        {% endfor %}
	        <br />
	        <br />
	        {% endif %}
	    {% endfor %}
        
    {% endif %}
    
    <hr />


    <b>Ergebnisse:</b>
<br />
    {% if result %}
        {% for document in result.searchHits %}
        {% if document.valueObject.meta_class_identifier_ms starts with 'auto' %}
        {{ include(
            'xrowEzPublishSolrDocsBundle:Default:Line/s_auto.html.twig',
            { 'item': document.valueObject, 'index': loop.index, 'highlight': document.highlight}
        ) }}
        {% elseif document.valueObject.meta_class_identifier_ms starts with 'video' %}
        {{ include(
            'xrowEzPublishSolrDocsBundle:Default:Line/s_video.html.twig',
            { 'item': document.valueObject, 'index': loop.index, 'highlight': document.highlight }
        ) }}
        {% elseif document.valueObject.meta_class_identifier_ms starts with 'marktplatz' %}
        {{ include(
            'xrowEzPublishSolrDocsBundle:Default:Line/s_marktplatz.html.twig',
            { 'item': document.valueObject, 'index': loop.index, 'highlight': document.highlight }
        ) }}
        {% elseif document.valueObject.meta_class_identifier_ms starts with 'branchenbuch' %}
        {{ include(
            'xrowEzPublishSolrDocsBundle:Default:Line/s_branchenbuch.html.twig',
            { 'item': document.valueObject, 'index': loop.index, 'highlight': document.highlight }
        ) }}
        {% elseif document.valueObject.meta_class_identifier_ms starts with 'veranstaltung' %}
        {{ include(
            'xrowEzPublishSolrDocsBundle:Default:Line/s_veranstaltung.html.twig',
            { 'item': document.valueObject, 'index': loop.index, 'highlight': document.highlight }
        ) }}
        {% else %}
            {{ loop.index }} - <a href="/solrdocview/{{ document.valueObject.meta_remote_id_ms }}" target="_blank">{{ document.valueObject.meta_name_t }}</a>({{ document.valueObject.meta_class_identifier_ms }}) - {{ document.valueObject.timestamp }}
	        <br />
	        <a href="/solrdocview/{{ document.valueObject.meta_remote_id_ms }}" target="_blank">{{ document.valueObject.meta_remote_id_ms }}</a>
	        <p>
            </p>
        {% endif %}
	        <hr />
	    {% endfor %}
        
        <div id="wPaginate_unten"></div>
        
    {% endif %}
<style type="text/css">
    /*** styling ***/
._wPaginate_link{
display:inline-block; margin-left:5px;
line-height:20px; width:20px; text-align:center; font-family:verdana; font-size:10px; cursor:pointer;
border:solid black 1px; text-decoration:none; border-radius:5px;
}
._wPaginate_link_first, ._wPaginate_link_prev, ._wPaginate_link_next, ._wPaginate_link_last{width:auto; line-height:10px; padding:3px 5px;}
/*** themes ***
/*** blue ***/
._wPaginate_blue ._wPaginate_link{
box-shadow:rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
text-shadow:rgba(0, 0, 0, 0.247059) 0px -1px 0px;
border:1px solid rgba(0, 0, 0, 0.0980392);
border-bottom-color:rgba(0, 0, 0, 0.247059);
background-color:#006DCC;
color:#FFF;
}
._wPaginate_blue ._wPaginate_link:hover,
._wPaginate_blue ._wPaginate_link.active{background-color:#0044CC}
/*** grey ***/
._wPaginate_grey ._wPaginate_link{
box-shadow:rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
text-shadow:rgba(255, 255, 255, 0.75) 0 1px 1px;
border:1px solid rgba(0, 0, 0, 0.14902);
border-bottom-color:rgba(0, 0, 0, 0.247059);
background-color:#F5F5F5;
color:#333;
}
._wPaginate_grey ._wPaginate_link:hover,
._wPaginate_grey ._wPaginate_link.active{background-color:#E6E6E6;}
/*** greeen ***/
._wPaginate_green ._wPaginate_link{
box-shadow:rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
text-shadow:rgba(0, 0, 0, 0.247059) 0px -1px 0px;
border:1px solid rgba(0, 0, 0, 0.0980392);
border-bottom-color:rgba(0, 0, 0, 0.247059);
background-color:#5BB75B;
color:#FFF;
}
._wPaginate_green ._wPaginate_link:hover,
._wPaginate_green ._wPaginate_link.active{background-color:#51A351;}
/*** orange ***/
._wPaginate_orange ._wPaginate_link{
box-shadow:rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
text-shadow:rgba(0, 0, 0, 0.247059) 0px -1px 0px;
border:1px solid rgba(0, 0, 0, 0.0980392);
border-bottom-color: rgba(0, 0, 0, 0.247059);
background-color:#FAA732;
color:#FFF;
}
._wPaginate_orange ._wPaginate_link:hover,
._wPaginate_orange ._wPaginate_link.active{background-color:#F89406;}
/*** red ***/
._wPaginate_red ._wPaginate_link{
box-shadow:rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
text-shadow:rgba(0, 0, 0, 0.247059) 0px -1px 0px;
border:1px solid rgba(0, 0, 0, 0.0980392);
border-bottom-color:rgba(0, 0, 0, 0.247059);
background-color:#DA4F49;
color:#FFF;
}
._wPaginate_red ._wPaginate_link:hover,
._wPaginate_red ._wPaginate_link.active{background-color:#BD362F;}
/*** lightblue ***/
._wPaginate_lightblue ._wPaginate_link{
box-shadow:rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
text-shadow:rgba(0, 0, 0, 0.247059) 0px -1px 0px;
border:1px solid rgba(0, 0, 0, 0.0980392);
border-bottom-color:rgba(0, 0, 0, 0.247059);
background-color:#49AFCD;
color:#FFF;
}
._wPaginate_lightblue ._wPaginate_link:hover,
._wPaginate_lightblue ._wPaginate_link.active{background-color:#2F96B4;}
/*** black ***/
._wPaginate_black ._wPaginate_link{
box-shadow:rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
text-shadow:rgba(0, 0, 0, 0.247059) 0px -1px 0px;
border:1px solid rgba(0, 0, 0, 0.0980392);
border-bottom-color:rgba(0, 0, 0, 0.247059);
background-color:#363636;
color:#FFF;
}
._wPaginate_black ._wPaginate_link:hover,
._wPaginate_black ._wPaginate_link.active{background-color:#222222;}

._wPaginate_link_active
{font-weight: bold; text-decoration: underline;}

</style>
{% endblock %}