<div>
<h3><a href="/solrdocview/{{ item.meta_remote_id_ms }}" target="_blank">{{ index }}. {{ item.meta_name_t }}</a> (Branchenbuch)</h3>
<p>Score: {{ item.score }}</p>
<div style="float: left; width: 180px;">
{% if item.attr_logo_s is defined %}
<img src="{{ item.attr_logo_s }}" /><br />
{% endif %}
</div>

Branche: <b>{{ item.attr_branche_s }}</b><br />
Ort: <b>{{ item.attr_ort_s }}</b><br />
Telefon: <b>{{ item.attr_telefon_s }}</b><br />
<p>
Link: <a href="{{ item.attr_url_ms }}" target="_blank">{{ item.attr_name_s }}</a><br />
</p>
{% if ( highlight is defined ) and  ( highlight != "" ) %}
<p>Gefunden: <i>{{ highlight|raw }}</i></p>
{% endif %}
</div>
<div style="clear:both;"></div>