<div>
<h3><a href="/solrdocview/{{ item.meta_remote_id_ms }}" target="_blank">{{ index }}. {{ item.meta_name_t }}</a> (Video)</h3>
<p>Score: {{ item.score }}</p>
<div style="float: left; width: 180px;">
{% if item.attr_thumbnail_s is defined %}
<img src="{{ item.attr_thumbnail_s }}" /><br />
{% endif %}
</div>

Länge: <b>{{ item.attr_laenge_s }}</b><br />
Erschienen: <b>{{ item.attr_erschienen_dt }}</b><br />
Copyright: <b>{{ item.attr_copyright_s }}</b><br />
<p>
{{ item.attr_haupttext_t|length > 250 ? item.attr_haupttext_t|slice(0, 250) ~ '...' : item.attr_haupttext_t  }}
</p>
{% if ( highlight is defined ) and  ( highlight != "" ) %}
<p>Gefunden: <i>{{ highlight|raw }}</i></p>
{% endif %}
</div>
<div style="clear:both;"></div>